<div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>
<!-- <ul *ngFor="let chartLabel of lineChartLabels">
    <li>{{chartLabel}}</li>
</ul>
<ul *ngFor="let oneLine of lineChartData">
    <li>
        <ul *ngFor="let oneData of oneLine.data">
            <li>{{oneData}}</li>

        </ul>
    </li>

</ul> -->
