<!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="checkbox" id="{{entryName}}" (change)="checkValue($event)">
        </div>
    </div>
</div> -->
<div class="pretty p-icon p-plain p-toggle p-bigger p-tada">
    <input type="checkbox" id="{{entryName}}" (change)="checkValue($event)"/>
    <div class="state p-on">
        <fa name="check" class="check-selected"></fa>
        <label></label>
    </div>
    <div class="state p-off">
        <fa name="check" class="check-unselected"></fa>
        <label></label>
    </div>
</div>