<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
            <th scope="col">No Of Loved Tracks</th>
        </tr>
    </thead>
    <tbody>
        <tr class = "big-text" *ngFor="let historyEntry of historyEntries | async">
                <td>{{historyEntry.currentOverallPosition.rank}}</td>
                <td class="big-text"><app-artist-name [artistName]="historyEntry.name"  [artistPictureUrl]="historyEntry.pictureUrl"  [colorAndSizeClassForPicture]="orange64px"></app-artist-name></td>
                <td class="big-text">{{historyEntry.currentOverallPosition.score}}</td>
                <td class="big-text">{{historyEntry.currentOverallPosition.noOfLovedTracks}}</td>
        </tr>
    </tbody>
</table>
