<table class="table table-bordered table-striped table-xl">
        <thead class="table-dark">
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Position</th>
                <th scope="col">Name</th>
                <th scope="col">Points</th>
                <th scope="col">No. Loved Tracks</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let overallEntry of overallEntries | async">
                    <th scope="row">
                        <app-entry-selector [entryName]="overallEntry.name"></app-entry-selector>
                    </th>
                    <td><app-position 
                        [currentEntryRank]="getRank(overallEntry.currentOverallPosition)" 
                        [previousEntryRank]="getRank(overallEntry.previousDayOverallPosition)"></app-position></td>
                    <td class="big-text"><app-artist-name [artistName]="overallEntry.name"></app-artist-name></td>
                    <td class="big-text">{{overallEntry.currentOverallPosition.score}}</td>
                    <td class="big-text">{{overallEntry.currentOverallPosition.noOfLovedTracks}}</td>
            </tr>
        </tbody>
    </table>
    