<div *ngIf="overallEntries$ | async as overallEntries">
<table class="table table-bordered table-striped table-xl" *ngIf="overallEntries.length > 0">
        <thead class="table-dark">
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Position</th>
                <th scope="col">Name</th>
                <th scope="col" class="header-heart column-heart"><fa placement="auto" 
                    ngbTooltip="Number loved tracks"name="heart" class="title-heart"></fa> </th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let overallEntry of overallEntries">
                    <th scope="row">
                        <app-entry-selector [entryName]="overallEntry.name"></app-entry-selector>
                    </th>
                    <td><app-position 
                        [currentEntryRank]="getRank(overallEntry.currentOverallPosition)" 
                        [previousEntryRank]="getRank(overallEntry.previousDayOverallPosition)"></app-position></td>
                    <td class="big-text"><app-artist-name [artistName]="overallEntry.name"  [artistPictureUrl]="overallEntry.pictureUrl" [colorAndSizeClassForPicture]="orange64px"></app-artist-name></td>
                    <td class="column-heart">
                        <app-no-of-loved [noOfLovedTracks]="overallEntry.currentOverallPosition.noOfLovedTracks"></app-no-of-loved>
                    </td>
                    <td class="big-text">{{overallEntry.currentOverallPosition.score}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="overallEntries.length <= 0">
        No entries for {{thisYear}}
    </div>    
</div>
    