<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Select</th>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col">Hits</th>
            <th scope="col">Loved Tracks</th>
            <th scope="col">Score</th>
            <th scope="col">Overall Position</th>
            <th scope="col">Overall Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dayEntry of dayEntries | async">
                <th scope="row">
                    <app-entry-selector [entryName]="dayEntry.name"></app-entry-selector>
                </th>
                <td>
                    <app-position 
                    [currentEntryRank]="getRank(dayEntry.currentDayPosition)" 
                    [previousEntryRank]="getRank(dayEntry.previousDayPosition)"></app-position>
                </td>
                <td class="big-text"><app-artist-name [artistName]="dayEntry.name" [artistPictureUrl]="dayEntry.pictureUrl" [colorAndSizeClassForPicture]="orange64px"></app-artist-name></td>
                <td class="big-text">{{dayEntry.currentDayPosition.hits}}</td>
                <td class="big-text">{{dayEntry.currentDayPosition.noOfLovedTracks}}</td>
                <td class="big-text">{{dayEntry.currentDayPosition.score}}</td>
                <td>
                    <app-position 
                    [currentEntryRank]="getRank(dayEntry.currentOverallPosition)" 
                    [previousEntryRank]="getRank(dayEntry.previousDayOverallPosition)"></app-position>
                </td>
                <td class="big-text">{{dayEntry.currentOverallPosition.score}}</td>
        </tr>
    </tbody>
</table>