<div *ngIf="dayEntries$ | async as dayEntries">
<table class="table table-bordered table-striped table-width" *ngIf="dayEntries.length >0">
    <thead class="table-dark">

        <tr>
            <th scope="col" class="column-check"><fa name="check" class="title-check"></fa></th>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col" class="header column-heart"><fa placement="auto" 
                ngbTooltip="Number loved tracks"name="heart" class="title-heart"></fa> </th>
            <th scope="col">Hits</th>
            <th scope="col">Score</th>
            <th scope="col">Overall Position</th>
            <th scope="col">Overall Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dayEntry of dayEntries">
                <th scope="row" class="column-check header">
                    <app-entry-selector [entryName]="dayEntry.name"></app-entry-selector>
                </th>
                <td>
                    <app-position 
                    [currentEntryRank]="getRank(dayEntry.currentDayPosition)" 
                    [previousEntryRank]="getRank(dayEntry.previousDayPosition)"></app-position>
                </td>
                <td class="big-text"><app-artist-name [artistName]="dayEntry.name" [artistPictureUrl]="dayEntry.pictureUrl" [colorAndSizeClassForPicture]="orange64px"></app-artist-name></td>
                <td class="column-heart">
                    <app-no-of-loved [noOfLovedTracks]="dayEntry.currentDayPosition.noOfLovedTracks"></app-no-of-loved>
                </td>
                <td class="big-text">{{dayEntry.currentDayPosition.hits}}</td>
                <td class="big-text">{{dayEntry.currentDayPosition.score}}</td>
                <td>
                    <app-position 
                    [currentEntryRank]="getRank(dayEntry.currentOverallPosition)" 
                    [previousEntryRank]="getRank(dayEntry.previousDayOverallPosition)"></app-position>
                </td>
                <td class="big-text">{{dayEntry.currentOverallPosition.score}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="dayEntries.length <=0">
    No entries for {{executingDate}}
</div>
</div>
